@media screen and (min-width: 1500px) {

  body {
    background-color: #1b1f28;
    overflow-x: hidden;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #272c39;
    border-radius: 2px;
    z-index: 4;
  }

  .left {
    position: fixed;
    top: 80px;
    left: 0;
    width: 433px;
    height: 100vh;
    background: #272c39;
    border-radius: 0px 25px 0px 0px;
    transition: 0.2s display;
    display: block;
    z-index: 3;
  }

  .left_bar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 80px;
    height: 100vh;
    background: #333a4d;
    z-index: 4;
  }

  .center {
    position: absolute;
    left: calc(50% + 276px);
    top: 782px;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    width: 8.3in;
    height: 11.7in;
    scale: 1.25;
    border-radius: 25px;
    background: #272c3900;
    transition: 0.2s all;
    z-index: 0;
  }

  .right {
    position: fixed;
    top: 80px;
    right: 0;
    width: 80px;
    height: 100vh;
    background: #272c39;
    border-radius: 25px 0px 0px 0px;
    transition: 0.2s display;
    display: block;
    z-index: 2;
  }

  .bottom {
    display: none;
    z-index: 1;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #272c39;
    border-radius: 5px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background-color: #1b1f28;
    opacity: 0;
  }

  /*/ Stuff /*/

  .side_button {
    position: relative;
    left: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #1b1f28;
    margin-bottom: 15px;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 5;
  }

  .side_button:hover {
    scale: 1.1;
  }

  .top_button {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #1b1f28;
    border-radius: 50%;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 5;
  }

  .top_button:hover {
    scale: 1.1;
  }

  .top_button_2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #1b1f28;
    border-radius: 50%;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 6;
  }

  /*/Page/*/
  .page_outer {
    position: absolute;
    width: 8.3in;
    height: 11.7in;
    border-radius: 25px;
    background: #272c39;
    z-index: 0;
  }

  .page_inner {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 15px;
    background: #333a4d;
    z-index: 0;
  }
}

@media screen and (max-width: 1500px) {

  body {
    background-color: #1b1f28;
    overflow-x: hidden;
  }

  .top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #272c39;
    border-radius: 2px;
    z-index: 4;
  }

  .left {
    position: fixed;
    top: 80px;
    left: 0;
    width: 433px;
    height: 100vh;
    background: #272c39;
    border-radius: 0px 25px 0px 0px;
    transition: 0.2s display;
    display: none;
    z-index: 3;
  }

  .left_bar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 80px;
    height: 100vh;
    background: #333a4d;
    display: none;
    z-index: 4;
  }

  .center {
    position: absolute;
    left: calc(50% + 100px);
    top: 782px;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    width: 8.3in;
    height: 11.7in;
    scale: 1.25;
    border-radius: 25px;
    transition: 0.2s all;
    background: #272c3900;
    z-index: 0;
  }

  .right {
    position: fixed;
    top: 80px;
    right: 0;
    width: 80px;
    height: 100vh;
    background: #272c39;
    border-radius: 25px 0px 0px 0px;
    transition: 0.2s display;
    display: none;
    z-index: 2;
  }

  .bottom {
    display: none;
    z-index: 1;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #272c39;
    border-radius: 5px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background-color: #1b1f28;
    opacity: 0;
  }

  /*/ Stuff /*/

  .side_button {
    position: relative;
    left: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: #1b1f28;
    margin-bottom: 15px;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 5;
  }

  .side_button:hover {
    scale: 1.1;
  }

  .top_button {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #1b1f28;
    border-radius: 50%;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 5;
  }

  .top_button:hover {
    scale: 1.1;
  }

  .top_button_2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: #1b1f28;
    border-radius: 50%;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 6;
  }

  /*/Page/*/
  .page_outer {
    position: absolute;
    width: 8.3in;
    height: 11.7in;
    border-radius: 25px;
    background: #272c39;
    z-index: 0;
  }

  .page_inner {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 15px;
    background: #333a4d;
    z-index: 0;
  }
}