/*/————————————————————————————————————————————————————————/*/
/*/——————————————————[ DESKTOP-FRONTEND ]——————————————————/*/
/*/————————————————————————————————————————————————————————/*/
@media print and (min-width: 768px) {

  /*/————————————————————————————————————————————————————————/*/
  /*/———————————————————[ EXTERNAL-ASSETS ]——————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  @font-face {
    font-family: "NotoSans-Regular";
    src: url("fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "NotoSansMono-Medium";
    src: url("fonts/NotoSansMono-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/———————————————————[ WEB-APP-ELEMENTS ]—————————————————/*/
  /*/————————————————————————————————————————————————————————/*/

  body {
    background-color: #14161E;
    overflow-x: hidden;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    user-select: none;
  }

  .top {
    display: none;
  }

  .left {
    display: none;
  }

  .left_inner {
    display: none;

  }

   .left_top {
    display: none;

  }

  .left_top_list {
    display: none;

  }

  .center {
    position: absolute;
    display: none;
    left: calc(50% + 130px);
    top: 680px;
    transform-origin: top center;
    transform: translate(-50%, -50%);
    width: 8.3in;
    height: 11.7in;
    scale: 1.35;
    border-radius: 25px;
    transition: 0.2s transform, 0.2s left;
    z-index: 0;
  }

  .center_video {
    display: none;

  }

  .center_video_yt {
    display: none;
  }

  .right {
    display: none;

  }

  .bottom {
    display: none;

  }

  ul, ol, li {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
  }

  a {
    color: #2a4ede;
    text-decoration: none;
  }

  button {
    display: none;

  }

  /*/————————————————————————————————————————————————————————/*/
  /*/——————————————————[ PAGE-MAIN-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .row {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 0px;
    opacity: 1;
    transform-origin: center center;
    transition: 0.2s all;
  }

  .group {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 170.67px;
    height: 40px;
    scale: 1.2;
    opacity: 1;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transition: 0.2s all;
    animation: load_inload_in_opacity 0.3s forwards;
    z-index: 5;
  }

  .group:hover {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }

  .group:focus-within {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
  }

  @keyframes load_in_opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ PAGE-CONTAINER-ELEMENTS ]—————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .page_outer {
    position: absolute;
    width: 8.3in;
    height: 11.7in;
    border-radius: 25px;
    background-color: #1C1F2A;
    box-shadow: 0px 0px 0px 4px #00000010;
    z-index: 0;
  }

  .page_inner {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border-radius: 15px;
    background-color: #222635;
    z-index: 1;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————————[ PAGE-LABEL-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .label_tab {
    position: relative;
    left: 0px;
    top: -2px;
    height: fit-content;
    width: fit-content;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: 7px;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px 5px 0px 0px;
    background: #1C1F2A;
    opacity: 1;
    transition: 0.2s all;
    z-index: 2;
  }

  .label_tab_popup_prompt {
    position: relative;
    left: 50%;
    top: -2px;
    height: 20px;
    width: fit-content;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: 7px;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 5px 5px 0px 0px;
    transform: translateX(-50%);
    background: #303548;
    opacity: 1;
    transition: 0.2s all;
    z-index: 2;
  }

  .label_tab_app {
    position: relative;
    left: 0px;
    top: 10px;
    height: fit-content;
    width: fit-content;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: 14px;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px 5px 0px 0px;
    background: #1C1F2A;
    opacity: 1;
    transition: 0.2s all;
    z-index: 2;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ PAGE-COMMENT-ELEMENTS ]———————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .comment_group {
    position: absolute;
    top: 0px;
    width: 15px;
    height: 11px;
    z-index: 7;
    opacity: 0; /*/DISABLED FOR NOW/*/
    transition: 0.2s all;
    z-index: 4;
  }

  .comment_tab {
    position: absolute;
    left: 15px;
    top: 0px;
    width: 18px;
    height: 11px;
    border-radius: 5px 5px 0px 0px;
    background: #14161E;
    align-items: center;
    justify-content: center;
    z-index: 8;
  }

  .comment_dot {
    position: absolute;
    left: 8px;
    top: 2.5px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #ffffff;
    z-index: 9;
  }

  .group:hover .comment_group {
    transform: translateX(18px);
  }

  .group:focus-within .comment_group {
    transform: translateX(18px);
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ PAGE-SOURCE-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .verified_source_tab {
    position: absolute;
    top: 5px;
    width: 16px;
    height: 16px;
    opacity: 0;
    display: none;
    border-radius: 5px 5px 0px 0px;
    background: #1C1F2A;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    z-index: 4;
  }

  .verified_source_icon {
    position: absolute;
    top: 3.5px;
    left: 2.5px;
    width: 8px;
    height: 9px;
    border-radius: 5px 5px 0px 0px;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transition: 0.2s all;
    z-index: 7;
  }

  .verified_source_favicon {
    max-width: 10px;
    max-height: 10px;
    border-radius: 2px 2px 0px 0px;
    transition: 0.2s all;
    z-index: 8;
  }

  .verified_source_icon:hover {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    top: 3px;
  }

  .verified_source_favicon::selection {
    background-color: #ffffff00;
    border-radius: 5px;
  }

  .verified_source_favicon:hover {
    scale: 1.15;
  }

  .group:hover .verified_source_tab {
    transform: translateY(-10px);
  }

  .group:hover .verified_source_icon {
    opacity: 1;
  }

  .group:focus-within .verified_source_tab {
    transform: translateY(-10px);
  }

  .group:focus-within .verified_source_icon {
    opacity: 1;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————————[ PAGE-HELP-ELEMENTS ]—————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .help_box {
    position: relative;
    left: 0px;
    top: 8px;
    height: fit-content;
    max-height: 100px;
    width: fit-content;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: 7px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 4px;
    border-radius: 0px 0px 5px 5px;
    background: #1C1F2A;
    align-items: left;
    justify-content: center;
    transform-origin: top center;
    transition: 0.2s all;
    opacity: 0;
    display: none;
    overflow-y: auto;
    overflow-x: none;
    animation: help_box_slide_up 0.35s linear;
    z-index: 5;
  }

  .group:focus-within .help_box {
    animation: help_box_slide_down 0.35s linear;
    transform: scaleY(1)translateY(10px);
    color: #ffffff;
    display: block;
    opacity: 1;
  }

  .help_box::-webkit-scrollbar {
    display: block;
    width: 5px;
  }

  .help_box::-webkit-scrollbar-thumb {
    background-color: #222635;
    border-radius: 5px;
    cursor: pointer;
  }

  .help_box::-webkit-scrollbar-track {
    background-color: #1C1F2A;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ PAGE-HISTORY-ELEMENTS ]———————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .history_group {
    position: absolute;
    left: 109.5px;
    top: 19px;
    opacity: 1;
    transition: 0.2s all;
    z-index: 4;
  }

  .group:hover .history_group {
    transform: translateY(10px) translateX(8.5px);
  }

  .group:focus-within .history_group {
    transform: translateY(10px) translateX(8.5px);
  }

  .history_tab {
    position: absolute;
    left: 49px;
    top: 0px;
    width: 15px;
    height: 11px;
    border-radius: 0px 0px 5px 5px;
    background: #1C1F2A;
    opacity: 1;
    transition: 0.2s all;
    z-index: 6;
  }

  .history_popup {
    display: none;
    position: absolute;
    background-color: white;
    border: 10px solid #ccc;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 500;
  }

  .history_dot {
    position: absolute;
    left: 5px;
    top: 3.5px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #ffffff;
    opacity: 1;
    transition: 0.2s all;
    z-index: 7;
  }

  .last_modified_text {
    position: absolute;
    left: 15px;
    top: 1px;
    width: 30px;
    height: 10px;
    color: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: 7px;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: 0.2s all;
    z-index: 7;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————————[ PAGE-INPUT-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .input_text {
    position: absolute;
    left: 0px;
    top: 10px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    color: white;
    height: 14px;
    background: #303548;
    border-radius: 0px 5px 5px 5px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    outline: none;
    opacity: 1;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 10;
  }

  .input_text_legal {
    position: absolute;
    left: 0px;
    top: 10px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    color: white;
    height: 14px;
    text-align: center;
    width: 559px;
    background: #1C1F2A;
    border-radius: 5px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    outline: none;
    opacity: 1;
    transform-origin: center;
    transition: 0.2s all;
    z-index: 10;
  }

  .page_number {
    position: absolute;
    color: #ffffff;
    font: 'NotoSans-Regular';
    font-size: 20px;
    width: 40px;
    height: 40px;
    top: 1078px;
    left: 752px;
    transform-origin: center center;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 50;
  }

  .input_text_popup_prompt {
    position: absolute;
    left: 50%;
    top: 10px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    color: white;
    height: 14px;
    background: #303548;
    border-radius: 50px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    transform: translateX(-50%);
    outline: none;
    opacity: 1;
    transform-origin: center center;
    transition: 0.2s all;
    z-index: 10;
  }

  .input_text::placeholder {
    color: #ffffff;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .input_text_legal::placeholder {
    color: #ffffff;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .input_search {
    position: relative;
    left: 65px;
    top: 19px;
    width: 195px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    text-indent: 17px;
    color: white;
    height: 14px;
    margin: 10px;
    background: #14161E;
    border-radius: 10px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    outline: none;
    scale: 1.5;
    opacity: 1;
    transform-origin: center;
    transition: 0.2s all;
    z-index: 3;
  }

  .input_search::placeholder {
    color: #ffffff;
    font-size: 12px;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .input_search::content {
    transform: translateX(50px);
  }

  .input_search:hover{
    background-color: #303548;
  }

  .input_search:focus {
    background-color: #303548;
  }

  textarea {
    position: absolute;
    left: 0px;
    top: 10px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    color: white;
    height: 14px;
    background: #303548;
    border-radius: 0px 5px 5px 5px;
    border: none;
    padding-top: 1.2px;
    padding-bottom: 6.8px;
    padding-left: 4.2px;
    padding-right: 3.2px;
    outline: none;
    opacity: 1;
    transform-origin: center;
    transition: 0.2s all;
    resize: none;
    z-index: 10;
  }

  textarea::placeholder {
    color: #ffffff;
    font-size: 12px;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .page_indicator {
    position: absolute;
    justify-content: center;
    text-align: center;
    left: 0px;
    top: 9px;
    height: 28px;
    width: 175px;
    font-family: "NotoSans-Regular";
    font-size: 14px;
    color: #ffffff;
    background: #1C1F2A;
    border-radius: 0px 0px 5px 5px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    outline: none;
    opacity: 1;
    transform-origin: center;
    transition: 0.2s all;
    z-index: 10;
  }

  .image_input {
    position: absolute;
    top: 10px;
    background-color: #303548;
    border-radius: 0px 5px 5px 5px;
    width: 568;
    cursor: pointer; 
    overflow: hidden;
    transition: 0.2s all;
    z-index: 30;
  }

  .image_input_2 {
    position: absolute;
    top: 10px;
    background-color: #222635;
    border-radius: 0px 5px 5px 5px;
    width: 568;
    cursor: pointer; 
    overflow: hidden;
    transition: 0.2s all;
    z-index: 30;
  }

  .image_input:hover{
    background-color: #394057;
    border-radius: 0px 5px 0px 5px;
  }

  .image_input_2:hover{
    background-color: #303548;
    border-radius: 5px;
  }

  .input_text_author {
    position: absolute;
    left: 0px;
    top: 10px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    color: white;
    height: 14px;
    background: #303548;
    border-radius: 5px 0px 5px 0px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    outline: none;
    opacity: 1;
    transform-origin: center;
    transition: 0.2s all;
    z-index: 10;
  }

  .input_text_author::placeholder {
    color: #ffffff;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .input_text_author:hover {
    background-color: #394057;
  }

  .group:focus-within .input_text_author {
    border-radius: 5px 0px 0px 0px;
    background-color: #394057;
  }

  .input_text_written {
    position: absolute;
    left: 0px;
    top: 10px;
    font-family: "NotoSans-Regular";
    font-size: 12px;
    color: white;
    height: 14px;
    background: #303548;
    border-radius: 0px 5px 0px 5px;
    border: none;
    padding-top: 2.8px;
    padding-bottom: 2.8px;
    padding-left: 4px;
    padding-right: 3.4px;
    outline: none;
    opacity: 1;
    transform-origin: center;
    transition: 0.2s all;
    z-index: 10;
  }

  .input_text_written::placeholder {
    color: #ffffff;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .input_text_written:hover {
    background-color: #394057;
  }

  .group:focus-within .input_text_written {
    border-radius: 0px 5px 0px 0px;
    background-color: #394057;
  }


  #brand_icon_container:hover{
    scale: 1.05;
    border-radius: 2.5;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  #seperator:selection {
    border-radius: 5px;
    color: #ffffff;
  }

  .group:hover .input_text_popup_prompt {
    background-color: #394057;
  }

  .input_text_popup_prompt::placeholder {
    color: #ffffff;
    opacity: 0.35;
    transition: 0.2s all;
  }

  .group:hover .input_text {
    border-radius: 0px 5px 0px 5px;
    background-color: #394057;
  }

  .group:hover .input_text_legal {
    background-color: #303548;
  }

  .group:focus-within .input_text_legal {
    background-color: #303548;
  }

  .group:focus-within .input_text {
    border-radius: 0px 5px 0px 0px;
    background-color: #394057;
  }

  .group:hover textarea {
    border-radius: 0px 5px 0px 5px;
    background-color: #394057;
  }

  .group:focus-within textarea {
    border-radius: 0px 5px 0px 0px;
    background-color: #394057;
  }

  textarea:focus {
    border-radius: 0px 5px 0px 0px;
    background-color: #394057;
  }

  textarea::-webkit-scrollbar {
    width: 6px;
  }

  textarea::-webkit-scrollbar-thumb {
    background-color: #14161E;
    border-radius: 5px;
    cursor: pointer;
  }

  textarea::-webkit-scrollbar-track {
    background-color: #ffffff;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————————[ RIGHT-MENU-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .menu {
    display: none;
  }

  .menu.show {
    display: none;
  }

  .menu ul {
    display: none;
  }

  .menu li {
    display: none;
  }

  .menu .tag {
    display: none;
  }

  .menu_option {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————————[ PAGE-POPUP-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .popup_background {
    display: none;

  }  

  .popup {
    display: flex;
  }

  .popup_prompt {
    display: none;
  }

  .popup_text {
    display: none;
  }

  .popup_social_button {
    display: none;
  }

  #changelog {
    display: none;
  }  

  #changelog::-webkit-scrollbar {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ PAGE-BANNER-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .banner {
    display: none;
  }

  .banner_text {
    display: none;
}

  .banner_close {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ PAGE-LOADER-ELEMENTS ]————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .loader_outer {
    display: none;
}

  .loader_container {
    display: none;
  }

  .loader_container_2 {
    display: none;
  }

  .loader_inner {
    display: none;
  }

  .loader_inner_color{
    display: none;
}

  .loading_message {
    display: none;
  }

  .loader_social_button {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ TOP-BUTTON-ELEMENTS ]—————————————————/*/
  /*/————————————————————————————————————————————————————————/*/

  .top_button {
    display: none;

}

  .control_buttons {
    display: none;
  }

  .notification_dot {
    display: none;
  }

  .notification_count {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ SIDE-BUTTON-ELEMENTS ]———————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .side_button {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/———————————————[ BOTTOM-BUTTON-ELEMENTS ]———————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .bottom_button {
    display: none;
  }
  /*/————————————————————————————————————————————————————————/*/
  /*/———————————————[ SOCIAL-BUTTON-ELEMENTS ]———————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .social_buttons {
    display: none;
  }
  
  .social_button {
    display: none;
  }

  .watch_buttons {
    display: none;
  }

  .watch_button {
    display: none;
}

  /*/————————————————————————————————————————————————————————/*/
  /*/———————————————[ MANAGE-BUTTON-ELEMENTS ]———————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .modify_button {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/——————————————————[ PROFILE-MANAGER ]———————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .profile_manager {
    display: none;
  }

  .profiles_scroll {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————[ PROFILE-MANAGER-UNIVERSES ]——————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .profile_universe {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/——————————————[ PROFILE-MANAGER-PROFILES ]——————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .profile_group {
    display: none;
  }

  .profile_image {
    display: none;
  }

  .profile_button {
    display: none;
  }
  
  .profile_text {
    display: none;
  }

  .profile_tag {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/——————————————————[ SCHEMES-MANAGER ]———————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .schemes_manager {
    display: none;
  }

  .schemes_backdrop {
    display: none;
  }

  .schemes_front {
    display: none;
  }

  .scheme_button {
    display: none;
  }

  .scheme_image {
    display: none;
  }
  
  .scheme_text {
    display: none;
  }

  .scheme_tag {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/—————————————————[ DISCORD-ELEMENTS ]——————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .report_button {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/——————————————————[ CONSOLE-ELEMENTS ]——————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .console {
    display: none;
  }

  .log_entry {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/———————————————————[ LABEL-ELEMENTS ]———————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .label_left {
    display: none;
  }

  .label_right {
    display: none;
  }

  /*/————————————————————————————————————————————————————————/*/
  /*/————————————————[ ADDITIONAL-ELEMENTS ]—————————————————/*/
  /*/————————————————————————————————————————————————————————/*/
  .tag {
    display: none;
  }

  .circle_outer {
    display: none;
  }

  .circle_inner {
    display: none;
  }

  .information_text {
    display: none;

  }

  .icon {
    display: none;
  }

  .circular_image {
    display: none;
  }

  .circular_image img {
    display: none;
}
}